$primary1: hsl(225, 100%, 94%);
$primary2:  hsl(245, 75%, 52%);
$neutral1: hsl(225, 100%, 98%);
$neutral2: hsl(224, 23%, 55%);
$neutral3:hsl(223, 47%, 23%);
$font-weights: (
    "regular": 500,
    "medium": 700,
    "bold":900
);
$body-font:16px;
$h1-font:25px;
$font-family: 'Red Hat Display', sans-serif;
