@import "./variables";
@import "./resets";

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin bodyFlex($direction){
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 25%;
    flex-direction: $direction;
}

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:$direction;
    margin: auto;
}

@mixin background{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

@mixin mainBackground{
    background-color:$neutral1;
    width:85vw;
    border-radius: 20px;
}
@mixin section{
    background-color: hsl(225, 100%, 96%);
    border-radius: 10px;
    width:85%;
}

body{
    @include background();
    @include bodyFlex(column);
    background-image: url("/images/pattern-background-mobile.svg");
    background-color: $primary1;
}

main{
    @include flexCenter(column);
    @include mainBackground();
    font-family: $font-family;
    text-align: center;
    max-height: 90vh;
}

.header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
}

h1{
    color: $neutral3;
    font-weight: weight(bold);
    margin:30px;
    font-size:$h1-font;
}

.paragraph{
    width: 75%;
    color: $neutral2;
    font-weight: weight(regular);
    line-height: 1.5rem;
    font-size:$body-font;
}

.section{
    @include flexCenter(row);
    @include section;
    margin:30px;   
    
    #{&}_icon{
        width: 60px;
        margin:10px;
    }
}

.mini{
    @include flexCenter(column);
    margin-left:10px;

#{&}_plan{
    font-weight: weight(bold);
    color: $neutral3;
}

#{&}_money{
    font-weight: weight(medium);
    color: $neutral2;
}
}

.change{
    font-weight: weight(medium);
    color: $primary2;
    text-decoration: underline;
    margin:10px;

    &:hover{
        cursor: pointer;
    }
}

button{
    color: $neutral1;
    background-color: $primary2;
    font-weight: weight(medium);
    width:85%;
    border-radius: 10px;
    height: 50px;
    border:none;
    box-shadow: 13px 25px 73px -13px $neutral2;
}

.cancel{
    margin-top:30px;
    margin-bottom: 30px;;
    color:$neutral2;
    font-weight: weight(medium);
}
